{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>2주차 세션 요약정리</h1>
    <div>
        <h2>📚 템플릿 언어란?</h2>
        <pre> 
        HTML에서 파이썬의 변수나 제어문 등을 사용할 수 있도록 도와주는 언어이다. 
        HTML만으로는 정적인 웹페이지만 만들 수 있는데, 템플릿 언어를 이용하면 동적으로 데이터를 
        표시하거나 반복, 조건 처리가 가능하다.
        </pre>
    </div>
    <div>
        <h2>📚 템플릿 {{info.variable}}</h2>
        <ul>
            <li>&#123;&#123; 변수명 &#125;&#125;</li>
            <li>&#123;&#123; 변수명.속성 &#125;&#125;</li>
            <li>&#123;&#123; 리스트명.0 &#125;&#125;</li>
        </ul>
    </div>
    <div>
        <h2>📚 템플릿 {{info.tag}}</h2>
        <ul>
            <li>조건문
                <ul>
                    <li>&#123;&#37; if 조건식 &#37;&#125;</li>
                    <li>&#123;&#37; else &#37;&#125;</li>
                    <li>&#123;&#37; endif &#37;&#125; : 조건문 끝</li>
                </ul>
            </li>
            <li>반복문
                <ul>
                    <li>&#123;&#37; for item in 리스트 &#37;&#125;</li>
                    <li>&#123;&#37; endfor &#37;&#125; : 반복문 끝</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h2>📚 템플릿 {{info.filter}}</h2>
        <p>변수에 특정 처리를 적용할 수 있게 해주는 기능</p>
        <p>&#123;&#123; 변수명 | 필터이름 &#125;&#125;</p>
    </div>
    <div>
        <h2>📚 템플릿 주석</h2>
        <p>기본 레이아웃을 정의해두고, 하위 템플릿에서 공통 구조를 재사용할 수 있는 기능</p>
        <pre>
            `&#123;&#37; extends "base.html" &#37;&#125;` 는 base.html을 가져다 쓰겠다는 뜻
→ 그 안에 있는 `&#123;&#37; block content &#37;&#125;` 구간에 자식 템플릿이 내용을 "채워 넣는" 구조
        </pre>
    </div>

{% endblock %}